# This workflow builds the project on each push and pull request and publish it on new tags

name: CI/CD

on:
  workflow_dispatch:
  push:
    branches: [ "*" ]
    tags: ["1.19*"]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    name: Build
    uses: cech12/MinecraftModActions/.github/workflows/build.yml@main
    with:
      java-version: 17
  dependencies:
    needs: build
    if: github.event.name == 'push'
    name: Dependencies
    uses: cech12/MinecraftModActions/.github/workflows/dependency-submission.yml@main
    with:
      java-version: 17
  gametest:
    needs: build
    name: Game Test
    uses: cech12/MinecraftModActions/.github/workflows/gametest.yml@main
    with:
      java-version: 17
  gametestmilk:
    needs: build
    name: Game Test with milk fluid
    uses: cech12/MinecraftModActions/.github/workflows/gametest.yml@main
    with:
      java-version: 17
      arguments: "-Ptest_milk_enabled=true"
  codeql:
    needs: build
    name: CodeQL
    uses: cech12/MinecraftModActions/.github/workflows/codeql-analysis.yml@main
    with:
      java-version: 17
  publish-github:
    needs: [ gametest, gametestmilk, codeql ]
    if: startsWith(github.ref, 'refs/tags/')
    name: Publish Github
    uses: cech12/MinecraftModActions/.github/workflows/publish-github.yml@main
    with:
      java-version: 17
      mod-name: Bucket Lib
      mod-id: bucketlib
      publish-api: true
      publish-sources: true
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
  publish-curseforge:
    needs: publish-github
    if: startsWith(github.ref, 'refs/tags/')
    name: Publish Curseforge
    uses: cech12/MinecraftModActions/.github/workflows/publish-curseforge.yml@main
    with:
      java-version: 17
      curseforge-id: 560156
      game-versions: |
        1.19.3
      release-type: release
    secrets:
      curseforge-token: ${{ secrets.CURSEFORGE_API_KEY }}
  publish-modrinth:
    needs: publish-github
    if: startsWith(github.ref, 'refs/tags/')
    name: Publish Modrinth
    uses: cech12/MinecraftModActions/.github/workflows/publish-modrinth.yml@main
    with:
      java-version: 17
      modrinth-id: DItE655o
      game-versions: |
        1.19.3
      release-type: release
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
      modrinth-token: ${{ secrets.MODRINTH_API_KEY }}
